@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bahiana");
@font-face {
  font-family: 'helsinkiregular';
  src: url("../../assets/fonts/helsinki-webfont.eot");
  src: url("../../assets/fonts/helsinki-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/helsinki-webfont.woff") format("woff"), url("../../assets/fonts/helsinki-webfont.ttf") format("truetype"), url("../../assets/fonts/helsinki-webfont.svg#helsinkiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AT-icons';
  src: url("../../assets/fonts/AT-icons.eot?wa1tdt");
  src: url("../../assets/fonts/AT-icons.eot?wa1tdt#iefix") format("embedded-opentype"), url("../../assets/fonts/AT-icons.ttf?wa1tdt") format("truetype"), url("../../assets/fonts/AT-icons.woff?wa1tdt") format("woff"), url("../../assets/fonts/AT-icons.svg?wa1tdt#AT-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AT-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-minus:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-warning-outline:before {
  content: ""; }

.icon-warning:before {
  content: ""; }

.icon-arrow-left-thick:before {
  content: ""; }

.icon-arrow-right-thick:before {
  content: ""; }

button {
  cursor: pointer; }

.button {
  font-family: 'Bahiana', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: black;
  border: 4px solid black;
  border-radius: 10px;
  color: white;
  height: 48px;
  margin-bottom: 5px;
  position: relative; }
  .button .button__text {
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; }
  .button:disabled {
    opacity: 0.7;
    cursor: default; }
  .button svg {
    border-radius: 6px;
    width: 100%;
    white-space: nowrap;
    z-index: -1; }

.button_wrap {
  bottom: 10px;
  display: block;
  left: 0;
  position: absolute;
  width: 100%; }

.button_primary {
  width: 300px; }
  .button_primary .button_base-color {
    fill: #D0011B; }
  .button_primary .button_gloss {
    fill: #fe0625; }
  .button_primary .button_shadow {
    fill: #9d0114; }

.button_secundary {
  width: 300px; }
  .button_secundary .button_base-color {
    fill: #417505; }
  .button_secundary .button_gloss {
    fill: #5ca607; }
  .button_secundary .button_shadow {
    fill: #264403; }

.button_tertiary {
  font-size: 2rem;
  height: 42px;
  line-height: 1;
  width: 42px; }
  .button_tertiary .button_base-color {
    fill: #FFD32C; }
  .button_tertiary .button_gloss {
    fill: #ffde5f; }
  .button_tertiary .button_shadow {
    fill: #f8c400; }
  .button_tertiary svg {
    height: 100%;
    width: 100%; }
  .button_tertiary i {
    left: 0;
    position: absolute;
    z-index: 2; }
  .button_tertiary span {
    display: none; }

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 15px; }
  .avatar img {
    border-width: 5px;
    border-color: #505050;
    border-style: solid;
    border-radius: 50%;
    height: 100px;
    width: 100px; }

.PlayerBadge {
  background: url("../../assets/images/stone_slab_80.svg") no-repeat;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 40px 10px 33px;
  position: relative;
  text-align: left; }
  .PlayerBadge:not(:first-child) {
    margin-top: 12px; }
  .PlayerBadge .PlayerBadge_avatar {
    border-width: 3px;
    border-color: #505050;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px; }
  .PlayerBadge .PlayerBadge_name {
    color: #505050;
    font-size: 1rem;
    flex: 1;
    margin: 0 10px; }
  .PlayerBadge .PlayerBadge_level {
    font-size: 1.875rem;
    text-align: right; }

.level_counter {
  color: white;
  margin-top: 18px; }
  .level_counter .level_counter__label {
    color: #505050;
    font-size: 1.125rem; }
  .level_counter p {
    width: auto; }
  .level_counter .level_counter__level {
    display: inline-block;
    font-size: 2.25rem;
    margin: 0 25px; }
  .level_counter .level_counter__button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem; }

.current_player_modal {
  background-color: #969696;
  border: 5px solid black; }
  .current_player_modal h3 {
    color: #505050;
    font-size: 1.125rem;
    margin-bottom: 15px; }
  .current_player_modal .current_player_modal__avatar {
    border-width: 5px;
    border-color: #505050;
    border-style: solid;
    border-radius: 50%;
    height: 90px;
    width: 90px; }
  .current_player_modal .current_player_modal__name {
    color: #505050;
    font-size: 24px;
    margin-bottom: 35px; }
  .current_player_modal .current_player_modal__combat_level_label {
    margin-top: 28px; }
  .current_player_modal .current_player_modal__combat_level {
    font-size: 2.25rem;
    margin: 0 25px; }

.welcome_view .content_wrap {
  height: 300px;
  margin: 50px auto;
  padding: 60px 0 20px 0;
  width: 300px;
  position: relative; }
  .welcome_view .content_wrap img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%; }
  .welcome_view .content_wrap p {
    line-height: 1.75em;
    font-size: 1.125rem; }

.new_game_view .content_wrap {
  background: url("../../assets/images/stone_slab_300.svg") no-repeat;
  height: 366px;
  font-size: 0.875rem;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 50px 0 20px 0;
  position: relative;
  width: 300px; }
  .new_game_view .content_wrap .player_count {
    bottom: 40px;
    color: black;
    display: block;
    position: absolute;
    width: 100%; }
  .new_game_view .content_wrap .AvatarSelector {
    padding-top: 35px; }
  .new_game_view .content_wrap .add-player-btn {
    position: absolute;
    bottom: -140px;
    left: 0; }
  .new_game_view .content_wrap .player_creator {
    position: relative; }
  .new_game_view .content_wrap .player_creator__input {
    font-family: 'helsinkiregular', cursive;
    font-size: 1rem;
    font-weight: 400;
    height: 40px;
    width: 200px;
    text-align: center;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.125rem; }
    .new_game_view .content_wrap .player_creator__input::placeholder {
      color: #505050; }

.winner_block .winner_block__avatar {
  border-width: 10px;
  border-color: #505050;
  border-style: solid;
  border-radius: 50%;
  height: 150px;
  width: 150px; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

p {
  display: inline-block;
  width: 240px; }

html {
  font-size: 16px; }

body {
  font-family: 'helsinkiregular', cursive;
  font-size: 1rem;
  font-weight: 400;
  background-image: url("../../assets/images/background-blurred.png");
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body #container {
    padding: 10px;
    text-align: center; }
  body .logo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/images/adventure_time_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 103px;
    width: 260px; }
  body h1 {
    font-family: 'Bahiana', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    display: block;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%); }
    body h1 .brand-name {
      display: block;
      font-size: 1.875rem; }

/*# sourceMappingURL=main.css.map */
