.l-winner_view {
  .winner_block__winner {
    font-size: 1.5rem;
    padding: 5px 20px;
  }

  .winner_block__avatar {
    @include avatar(10px, 150px);
    margin: 20px 0 40px 0;
  }
  .winner_block__text {
    padding-bottom: 20px;
  }
}
