$red: #D0011B;
$darker-red: darken($red, 10%);
$lighter-red: lighten($red, 10%);

$green: #417505;
$darker-green: darken($green, 10%);
$lighter-green: lighten($green, 10%);

$yellow: #FFD32C;
$darker-yellow: darken($yellow, 10%);
$ligher-yellow: lighten($yellow, 10%);

$medium-gray: #505050;
