@import url('https://fonts.googleapis.com/css?family=Bahiana');

$font-path: "../../assets/fonts" !default;



@font-face {
    font-family: 'helsinkiregular';
    src: url('#{$font-path}/helsinki-webfont.eot');
    src: url('#{$font-path}/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/helsinki-webfont.woff') format('woff'),
         url('#{$font-path}/helsinki-webfont.ttf') format('truetype'),
         url('#{$font-path}/helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin bahiana($size: 1rem) {
	font-family: 'Bahiana', cursive;
	font-size: $size;
  font-weight: 400;
}

@mixin helsinki($size: 1rem) {
  font-family: 'helsinkiregular', cursive;
  font-size: $size;
  font-weight: 400;
}


$icon-warning-outline: "\e900";
$icon-warning: "\e901";
$icon-arrow-left-thick: "\e902";
$icon-arrow-right-thick: "\e903";

@font-face {
  font-family: 'AT-icons';
  src:  url('#{$font-path}/AT-icons.eot?wa1tdt');
  src:  url('#{$font-path}/AT-icons.eot?wa1tdt#iefix') format('embedded-opentype'),
    url('#{$font-path}/AT-icons.ttf?wa1tdt') format('truetype'),
    url('#{$font-path}/AT-icons.woff?wa1tdt') format('woff'),
    url('#{$font-path}/AT-icons.svg?wa1tdt#AT-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AT-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-warning-outline {
  &:before {
    content: $icon-warning-outline;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-arrow-left-thick {
  &:before {
    content: $icon-arrow-left-thick;
  }
}
.icon-arrow-right-thick {
  &:before {
    content: $icon-arrow-right-thick;
  }
}
