@mixin avatar($border, $dimensions) {
  border-width: $border;
  border-color: $medium-gray;
  border-style: solid;
  border-radius: 50%;
  height: $dimensions;
  width: $dimensions;
}

@mixin button-colorScheme($color) {
  .button_base-color {
    fill: $color;
  }
  .button_gloss {
    fill: lighten($color, 10%);
  }
  .button_shadow {
    fill: darken($color, 10%);
  }
}

@mixin centerComponent() {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin verticallyCenter() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
