.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  line-height: 0;
  font-size: 0;

  img {
    @include avatar(5px, 100px);

    @include desktop {
      @include avatar(10px, 160px);
    }
  }

}
