button {
  cursor:pointer;
}

.button {
  @include bahiana(1.5rem);
  height: 48px;
  border: 4px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}

.button_group {
  position: absolute;
  bottom: 30px;
}

.button_primary {
  background-color: $red;
  color: white;
  width: 300px;
}

.button_secundary {
  background-color: $green;
  color: white;
  width: 300px;
}

.button_tertiary {
  background-color: $yellow;
  color: white;
  font-size: 2.2rem;
  width: 48px;

  span {
    display: none;
  }
}
